@{
    ViewBag.Title = "Seguimiento";
    ViewBag.Modulo = "Trazabilidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var url_getRequerimiento = "@Url.Content("~/")" + "Trazabilidad/getRequerimiento";
    var url_getRequerimientoDetalle = "@Url.Content("~/")" + "Trazabilidad/getRequerimientoDetalle";
    var url_getTrazabilidadDetalle = "@Url.Content("~/")" + "Trazabilidad/getTrazabilidadDetalle";
    var url_getOCompra = "@Url.Content("~/")" + "Trazabilidad/getOCompra";
    var url_getOrdenCompraDetalle = "@Url.Content("~/")" + "Trazabilidad/getOrdenCompraDetalle";
    var url_getParteEntrada = "@Url.Content("~/")" + "Trazabilidad/getParteEntrada";
    var url_getPartesEntradaDetalle = "@Url.Content("~/")" + "Trazabilidad/getPartesEntradaDetalle";
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="mb-3">
                <label for="Req" class="form-label">Requerimiento</label>
                <input type="text" class="form-control" id="Req" autocomplete="off" />
            </div>
        </div>
        <div class="col-1">
            <div class="mb-3">
                <label for="btnBuscar" class="form-label">&nbsp;</label>
                <button id="btnBuscar" type="button" class="form-control btn btn-primary">
                    <i class="ion ion-md-search"></i>
                </button>
            </div>

        </div>
    </div>
</div>
<br />

<div class="nav-wizards-container">
    <nav class="nav nav-wizards-1 mb-2">
        <!-- completed -->
        <div class="nav-item col ">
            <a class="nav-link uno disabled" href="#">
                <div class="nav-no">1</div>
                <div class="nav-text">Requerimiento</div>
            </a>
        </div>

        <!-- active -->
        <div class="nav-item col ">
            <a class="nav-link dos disabled" href="#">
                <div class="nav-no">2</div>
                <div class="nav-text">Orden de Compra</div>
            </a>
        </div>

        <!-- disabled -->
        <div class="nav-item col ">
            <a class="nav-link tres disabled" href="#">
                <div class="nav-no">3</div>
                <div class="nav-text">Almacen Tránsito</div>
            </a>
        </div>

        <div class="nav-item col ">
            <a class="nav-link cuatro disabled" href="#">
                <div class="nav-no">4</div>
                <div class="nav-text">Almacen Destino</div>
            </a>
        </div>

        <div class="nav-item col ">
            <a class="nav-link cinco disabled" href="#">
                <div class="nav-no">5</div>
                <div class="nav-text">Vale Entrega</div>
            </a>
        </div>
    </nav>
</div>

<div id="cReq" class="card">
    <div class="card-body">
        <table id="tRequerimientos" class="table table-striped" style="width:100%"></table>
    </div>
</div>
<div id="cOC" class="card">
    <div class="card-body">
        <table id="tOC" class="table table-striped" style="width:100%"></table>
    </div>
</div>
<div id="cIA" class="card">
    <div class="card-body">
        <table id="tPE" class="table table-striped" style="width:100%"></table>
    </div>
</div>
<div id="cAlmacenDestino" class="card">
    <div class="card-body">
        Almacen Destino
    </div>
</div>
<div id="cValeEntrega" class="card">
    <div class="card-body">
        Vale Entrega
    </div>
</div>
<br />
<div id="detalle" class="card">
    <div class="card-body">
        <h5 class="card-title">Detalle del Requerimiento</h5>
        <table id="tDetalle" class="table table-striped" style="width:100%"></table>
    </div>
</div>

<div class="modal fade" id="mDetalle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Detalle Requerimiento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tRequerimientosDetalle" class="table table-striped" style="width:100%"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Understood</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mDetalleOC" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Detalle de Orden de Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tOCDetalle" class="table table-striped" style="width:100%"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Understood</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mDetallePE" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Detalle de Almacen T</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tPEDetalle" class="table table-striped" style="width:100%"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Understood</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Portal/seguimiento.js")"></script>
}
